/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #1E1F22;
}

body {
  background-color: #F8F4EF;
}
