spring:
  application:
    name: product-service
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5433/db
    password: ${SPRING_DATASOURCE_PASSWORD}
    username: ${SPRING_DATASOURCE_USERNAME}
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 200MB
springdoc:
  api-docs:
    path: /api-docs
server:
  port: 8083
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
  service:
    storage-service: ${FEIGN_SERVICE_STORAGE}
    user-service: ${FEIGN_SERVICE_USER}
